# IDE Files
.vscode
.gemini
.github

# Firmware Files
.pio
.esphome
__pycache__/
preview
firmware/secrets.yaml
firmware/components/aether_ui/aether_ui_html.h

# KiCad temporary files, caches, and locks
*.kicad_prl
*.lock
fp-info-cache

# KiCad automatic backups
*-backups/
*.bck
*.bak
*bak
*bck
*.tmp
